/* <!-- navbar & background video (start) --> */


@font-face {
    font-family: "merriweather";
    src: url(m);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.hero {
    width: 100%;
    height:1050px;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 8%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

nav ul li {
    position: relative;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Dropdown Menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    padding: 10px 0;
    border-radius: 8px;
    top: 35px;
    min-width: 180px;
    z-index: 10;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    color: #000000;
}

.dropdown-menu li a:hover {
    background: #000000;
    color: white;
}

/* Show dropdown on hover (desktop only) */
.nav-item:hover .dropdown-menu {
    display: block;
}

/* Hamburger icon */
.menu-toggle {
    display: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 85%;
}

/* -----------------
   RESPONSIVE DESIGN
------------------ */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .back-video {
        display: none;
    }
    .hero {
        height: 300px;
        background-color: black;
    }
    .glossyFi-text-main {
        display: none;
    }
    nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        display: none;
        padding: 10px 0;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .dropdown-menu {
        position: static;
        background: rgba(255, 255, 255, 0.9);
        width: 80%;
        border-radius: 0;
        display: none;
        color: #fff;
    }

    .dropdown-menu.show {
        display: block;
    }
    .back-video {
        align-content: start;
    }
    .nav-item:hover .dropdown-menu {
        display: none; /* Disable hover on mobile */
    }
}


.content {
    text-align: center;
}

.content h1 {
    font-size: 130px;
    color: #fff;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}



.back-video {
    position: absolute;
    width: 100%;
    height:1;
    bottom: 0;
    top: 0;

    z-index: -1;
}


/* <!-- navbar & background video (end) --> */


/* category cards (start) */
.category-container {
    display: flex;
    justify-content: space-evenly;
}

.category-anchor-tag {
    text-decoration: none;
}
.brand-card1 {
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/Logo-Banner/Dari\ Mooch.jpg");
    background-size: cover;
}
    
.brand-card2 {
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/Logo-Banner/Keune.jpg");
    background-size: cover;
}
.brand-card3 {
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/images/Logo-Banner/Saeed\ Ghani.jpg");
    background-size: cover;
}

.brand-card4 {
    margin: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.shutterstock.com/image-photo/poznan-pol-jul-4-2019-600nw-1444555031.jpg");
    background-size: cover;
}
.brand-card1:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(0, 0, 0);
}
.brand-card2:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(0, 0, 0);
}
.brand-card3:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(0, 0, 0);
}
.brand-card4:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(0, 0, 0);
}
   
/* category cards (end) */
/* <!-- category-cards (start) --> */
    .FEATURED{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        font-family:'Times New Roman', Times, serif;
    }

.featured-img :hover {
    transform: scale(105%);
    transition-duration: 0.5s;
}

/* <!-- category-cards (end) --> */

/* FEATURED (start) */

.container-featured{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.featured-img :hover{
    transform: scale(110%);
}
.featured-product-description {
    text-align: center;
}

/* FEATURED (end) */

/* <!-- Sale Banner (Start) --> */
.sale-banner2-img {
    width: 100%;
}
/* <!-- Sale Banner (end) --> */

.featured-brand{

    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}



.category-card5:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(175, 175, 175);
}
.category-card6:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(175, 175, 175);
}
.category-card7:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(175, 175, 175);
}
.category-card8:hover{
    transform: scale(105%);
    transition-duration: 1s;
    box-shadow:  5px 5px 5px 5px rgb(175, 175, 175);
}


/* SLIDER (START) */

.slider {
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    width: calc(250px *18);
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide-image {
    width: 500px;
}

.slide-image :hover {
    transform: translateZ(20px);
    transition: transform 1s;
}

/* GRADIENT SHADOWS (start) */

.slider::before,
.slider::after {
    background:linear-gradient(to right, rgb(255, 255, 255) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 20%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}


/* GRADIENT SHADOWS (end) */


/* SLIDER (end) */


.nike-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 50px 80px;
    flex-wrap: wrap;
}

/* Left Trend Section */
.trend-box {
    background: #000;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    width: 350px;
    height: 570PX;
}

.trend-box h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.trend-box img {
    width: 100%;
    border-radius: 10px;
}

.explore-btn {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    transition: 0.3s;
}

.explore-btn:hover {
    color: #8a8888;
    border-color: #8a8888;
}

/* Right Product Section */
.products {
    flex: 1;
}

.products h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.products hr {
    width: 100%;
    border: 0;
    border-top: 2px solid #000000;
    margin-bottom: 40px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
    min-width: 250px;
    position: relative;
}

.product-card img {
    width: 80%;
    margin: 10px auto;
    display: block;
}

.badge {
    background: #000000;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.category {
    color: #777;
    font-size: 13px;
    margin-top: 10px;
}

.product-card h4 {
    font-weight: 700;
    font-size: 16px;
    margin: 5px 0;
}

.price {
    color: #1a7a06;
    font-weight: 600;
    font-size: 15px;
}

.progress-bar {
    width: 60%;
    height: 6px;
    background: #ff5c5c;
    border-radius: 5px;
    margin: 10px auto 0;
}

/* Responsive */
@media (max-width: 992px) {
    .nike-section {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .product-list {
        justify-content: center;
    }
}


/* Top Seller Product (Start) */
.top-seller-heading {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
/* Top Seller Product (end) */

/* service start */
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  gap: 30px;
  padding-inline: 30px;
}

.service-item { width: 220px; }

.service-card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-card .card-icon {
  background: var(--bittersweet);
  min-width: 55px;
  height: 55px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.service-card .card-icon img {
  filter: brightness(0) invert(1);
  width: 60%;
  height: auto;
}

.service-card .card-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.service-card .card-text {
  color: var(--onyx);
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
}

.service-card .card-text span {
  display: inline-block;
  color: var(--bittersweet);
}
/* service end */



/* models (start) */
.img-box-1 {
    text-align: center;
}

.img-1 {
    height: 400px;
    margin: 10px;
}
.img-2 {
    height: 400px;
    margin: 10px;
}
.img-3 {
    height: 400px;
    margin: 10px;
}
.img-box-2 {
    text-align: center;
}
.img-4 {
    height: 612px;
    margin: 10px;
}
.img-5 {
    height: 612px;
    margin: 10px;
}

.img-1:hover {
    transform: scale(105%);
    transition-duration: 1s;
}
.img-2:hover {
    transform: scale(105%);
    transition-duration: 1s;
}
.img-3:hover {
    transform: scale(105%);
    transition-duration: 1s;
}
.img-4:hover {
    transform: scale(105%);
    transition-duration: 1s;
}
.img-5:hover {
    transform: scale(105%);
    transition-duration: 1s;
}

/* models (end) */



/* <!-- customer reviews (start) --> */
.container-customer-reveiw {
    background-color: #000;
    display: flex;
    height:600px ;
    justify-content: space-evenly;
    align-items: center;

}
.card {
    margin-bottom: 20px;
}
.card:hover {
    transform: scale(105%);
    transition-duration:0.5s;
}
.customer-review-heading-bg {
    background-color: #000;
    display: flex;
    width: 100%;
    justify-content: center;
}
.customer-review-heading {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
    
}
/* <!-- customer reviews (end) --> */
/* <!-- product promotion (start) --> */
.promotion-heading-background {
    background-color: #000;
}
.product-promotion-background {
    height: 870px;
    background-color: #000000;
}
.promotion-heading {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.product-promotion {
    height: 800px;
    width: 100%;
}
/* <!-- product promotion (end) --> */

/* <!-- Blog Post (start) --> */
/* Blog Section */
.blog-heading {
    text-align: center;
}
.blog-section {
    width: 100%;
    text-align: center;

}

.blog-container {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.blog-card {
    width: 300px;
    background-color: #fff;
    text-align: left;
}

.blog-card img {
    height: 250px;
    border-radius: 6px;
}

.blog-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 0.5px;
}

.blog-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin: 10px 0 15px;
}

.blog-card a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease;
}

.blog-card a:hover {
    color: #666;
    border-color: #666;
}/* <!-- Blog Post (end) --> */

/* <!-- footer (start) --> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #000000;
  padding: 60px 100px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 60px;
}

.footer-section h3 {
  font-size: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.footer-section p,
.footer-section a,
.footer-section li {
  color: #ffffff;
  font-size: 17px;
  line-height: 1.8;
  text-decoration: none;
}

.footer-section a:hover {
  color: #a8a8a8;
}

.footer-section ul {
  list-style: none;
}

.social-icons {
  margin-top: 25px;
}

.social-icons a {
  color: #ccc;
  margin-right: 18px;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.newsletter input {
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  color: #fff;
  margin-top: 15px;
}

.newsletter input::placeholder {
  color: #aaa;
}

.newsletter button {
  margin-top: 15px;
  padding: 12px 22px;
  border: none;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter button:hover {
  background-color: #e5e5e5;
}

.copyright {
  margin-top: 25px;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1px;
}


/* <!-- footer (end) --> */ 